@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
            
            box-sizing: border-box;
            font-family: "Rubik Moonrocks", sans-serif;
}
body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            overflow: hidden;
}           
.bg{
            background-image:  url(img/6549944.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            filter: blur(0px);
            
}
.loading-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #f5d703;
            
}